@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#unlock {
    background-color: green;
  }
  
  #icon {
    color: white;
  }
  
  button {
    margin: 2%;
    width: 100%;
  }
  div{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top:2rem
  }

  .table {
    font-family: 'Montserrat', sans-serif;
  }

  td {
    font-size: 1.5em;
    justify-content: center;
    vertical-align:middle;
  }

  th {
    font-size: 1.2em;
  }
  