@import url("http://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("http://fonts.googleapis.com/css?family=Bree+Serif&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  width: 100%;
  background-color: #e9e9e9;
}
.far {
  color: blue;
  font-size: 18px;
}

.appointmentCard {
  margin-top: 2rem;
  margin-left: 3rem;
  background-color: white;
  width: 75%;
  padding: 0.5rem;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}
#app {
  margin-top: 2rem;
}

.ap {
  color: #fa8211;
}
p {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

#user {
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
}
#with {
  font-size: small;
}

#map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  overflow-x: hidden;
  padding-top: 90px;
  font-family: "Poppins", sans-serif;
  margin: 0 100px;
}
.container {
  max-width: 100%;
}
.profile-header {
  background-color: #fff;
  width: 100%;
  display: flex;
  height: 190px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}
.profile-image {
  float: left;
  width: 340px;
  height: 200px;
}
.profile-image img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 4px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
  background-color: #fff;
}
.profile-nav-info {
  float: left;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}
.profile-nav-info h3 {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(95, 95, 95);
}
.profile-nav-info .adress {
  display: flex;
  color: #777;
}
.profile-option {
  width: 40px;
  height: 40px;
  background-color: #4daaa7;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
}
.profile-option:hover {
  background-color: #fff;
  border: 1px solid #4daaa7;
}
.profile-option .notification i {
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}
.profile-option:hover .notification i {
  color: #4daaa7;
}
.profile-option .notification .alert-message {
  position: absolute;
  top: -7px;
  right: -5px;
  background-color: #e40046;
  color: #fff;
  border: 1px solid;
  padding: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.main-bd {
  width: 100%;
  display: flex;
  padding-right: 50px;
}

.profile-side {
  width: 320px;
  background-color: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 90px 30px 20px;
  font-family: "Bree Serif", serif;
  margin-left: 10px;
  z-index: 99;
}
.profile-side p {
  margin-bottom: 7px;
  color: rgb(90, 90, 90);
  font-size: 14px;
}
.profile-side p i {
  color: rgb(35, 47, 218);
  margin-right: 10px;
}
.profile-nav-info p {
  color: rgb(90, 90, 90);
}
.phone-number i {
  transform: rotateY(180deg);
}
.profile-btn {
  display: flex;
}
button.chatbtn {
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background: rgb(2, 0, 136);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 136, 1) 0%,
    rgba(6, 23, 166, 1) 20%,
    rgba(1, 141, 203, 1) 100%
  );
  color: #fff;
  font-family: "Bree Serif", sans-serif;
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}
button.chatbtn:hover {
  background: rgb(2, 0, 104);
  background: linear-gradient(
    90deg,
    rgb(2, 1, 102) 0%,
    rgb(5, 17, 122) 20%,
    rgb(0, 101, 145) 100%
  );
}
button.chatbtn i {
  margin-right: 6px;
}
.user-rating {
  display: flex;
}
.user-rating h3 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-right: 6px;
  letter-spacing: 1px;
  color: #666;
}
.user-rating .no-user {
  font-size: 0.9rem;
}
.rate {
  padding-top: 6px;
}
.rate i {
  font-size: 0.9rem;
  color: rgb(35, 47, 218);
}
.right-side {
  width: 100%;
}
.nav {
  width: 104%;
  z-index: -1;
}
.nav ul {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.nav ul li {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.nav ul li.active,
.nav ul li:hover {
  box-shadow: 0px -3px 0px rgb(35, 47, 218) inset;
}
.profile-body {
  width: 100%;
  z-index: -1;
}
.tab {
  padding: 20px;
  width: 100%;
  text-align: center;
  display: block;
}
@media (max-width: 1100px) {
  .profile-side {
    width: 250px;
    padding: 90px 15px 20px;
  }
  .profile-image img {
    height: 200px;
    width: 200px;
    left: 50px;
    top: 50px;
  }
}
@media (max-width: 900px) {
  body {
    margin: 0 20px;
  }
  .profile-header {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }
  .profile-image {
    float: left;
    width: 100%;
    height: 200px;
  }
  .profile-image img {
    position: relative;
    left: 0;
  }
  .profile-nav-info {
    text-align: center;
  }
  .profile-nav-info .adress {
    justify-content: center;
  }
  .profile-option {
    right: 20px;
    top: 75%;
    transform: translateY(50%);
  }
  .main-bd {
    flex-direction: column;
    padding-right: 0px;
  }
  .profile-side {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 5px 0;
  }
  .user-rating {
    justify-content: center;
  }
  @media (min-width: 400px) {
    body {
      margin: 5px;
    }
    .profile-header h3 {
      font-size: 1.6rem;
    }
    .profile-header p {
      font-size: 0.9rem;
    }
    .profile-option {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 15px;
      top: 83%;
    }
    .profile-option .notification .alert-message {
      top: -3px;
      right: -4px;
      padding: 4px;
      height: 15px;
      width: 15px;
      font-size: 0.7rem;
    }
  }
}
#profile-reviews {
  width: 125%;
}

.form-control {
  height: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  width: 80%;
}
#modal {
  margin-left: 40%;
  margin-top: 10%;
}
.label {
  margin-left: 2rem;
}
.date {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: flex;
  float: right;
  margin-right: 1rem;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.save-btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
textarea {
  margin-right: 40px;
}
.post-formm {
  align-items: center !important;
  text-align: start;
  // margin-left: 17rem;
}
.fname {
  display: block;
  margin-bottom: 2rem;
  margin: auto;
}
// .labelss {
// }
.firstName-lbl {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 3rem;
  border: none;
  border-bottom: 1px solid rgb(124, 124, 124);
}
.firstName-lbl .lll {
  float: left;
  color: rgb(83, 82, 82);
}
.fn-chng {
  width: 100%;
}
.chngbl-inp {
}
.fn-inp {
  display: inline-block;
  width: 50% !important;
  height: 40px;
  float: left;
}
.fn-edit {
  float: right;
  display: inline-block;
}
#mail-lbl {
  margin-left: -3rem;
}
.fn-save {
  display: inline-block;
  float: right;
  height: 40px;
  width: 8%;
}

.inputs {
  display: inline-block;
  width: 100%;
  // height: 100p
}
.firstName-dt {
  margin-left: -4.7rem;
  float: left;
  color: rgb(136, 136, 136);
}
.state {
  display: flex;
  flex-direction: row;
}

.card {
  width: 50%;
  margin-top: 5%;
  height: 10%;
  margin-left: 25%;
}
.card-container {
  height: 10%;
}
.ed {
  margin-top: 9px;
}
.fa-edit {
  margin-left: 10px;
  color: #fff;
}
.fn-edit {
  margin-top: -15px;
  border: 1px solid #ccc;
  height: 40px;
  width: 80px;
  justify-content: center;
  border-radius: 6px;
  background-color: rgb(0, 136, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.date {
  margin-left: 5.5rem;
}
#date {
  margin-left: 2rem;
}

.circle {
  position: absolute;
  margin-left: 2%;
  color: red;
  margin-top: 2%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.fa-camera {
  font-size: 30px;
  cursor: pointer;
}
.cam-icon {
  margin-top: 12%;
  margin-left: 12%;
}
.edit-span {
  color: #fff;
}

img {
  max-width: 100%;
}

.incoming_msg_img {
  display: inline-block;
  width: 7%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 13px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg {
  width: 57%;
}
.cont-ainer {
  width: 27rem;
  float: right;
  z-index: 1000;
  position: fixed;
  margin-top: -10rem;
  margin-left: 60%;
}
#msg-hstr {
  background-color: #fff;
}
.mesgs {
  margin: auto;
  margin-top: 6rem;
  border: 1px solid rgba(121, 121, 121, 0.842);
  border-radius: 12px 12px 0px 0px;
  float: right;
}
.sent_msg p {
  background: rgb(2, 0, 136);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 136, 1) 0%,
    rgba(6, 23, 166, 1) 20%,
    rgba(1, 141, 203, 1) 100%
  );
  border-radius: 13px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}
.msg_send_btn {
  background: rgb(2, 0, 136);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 136, 1) 0%,
    rgba(6, 23, 166, 1) 20%,
    rgba(1, 141, 203, 1) 100%
  );
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging {
  padding: 0 0 50px 0;
}
.msg_history {
  height: 516px;
  overflow-y: auto;
  padding: 30px 15px 0 25px;
}
.msg__header {
  background: rgb(2, 0, 136);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 136, 1) 0%,
    rgba(6, 23, 166, 1) 20%,
    rgba(1, 141, 203, 1) 100%
  );
  display: flex;
  width: 100.2%;
  border-radius: 12px 12px 0px 0px;
}
.img-usr-msg {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 10px;
  display: inline;
}
.msg-cont-img {
  width: 5rem;
}
.name__container {
  display: inline;
}
.name-of-receiver {
  margin-top: 30px;
  margin-left: 15px;
  color: #fff;
  font-size: 21px;
}

.fa-times-circle {
  margin: auto;
  font-size: 20px;
  margin-top: 3px;
  color: #fff;
}
.fa-times-circle:hover {
  cursor: pointer;
  color: red;
}
.close-icn {
  text-align: right;
  width: 30%;
  margin-left: 2rem;
}

.form-control {
  margin-left: 10%;
}
.inline-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  margin-left: -1%;
}

.btn-update {
  background-color: blue;
  border: none;
  color: white;
  padding: 1.5% 3%;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin-left: -2%;
}

.inline-labell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  margin-left: -3%;
}

.input-image {
  // margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  margin-left: 3rem;
}

.modal-header{
  margin-top: 250px;
}
.modal-content {
  margin-left: 30px;
  margin-top: 1rem;
}
.apdc {
  margin: 14px;
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 40px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.3s ease-in-out;
}
.approve-appointment {
  background-color: rgb(12, 248, 12);
}
.approve-appointment:hover {
  background-color: rgb(14, 197, 14);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.decline-appointment {
  background-color: red;
}
.decline-appointment:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: rgb(223, 6, 6);
}
.approved-app {
  background-color: #fff;

  color: #4bca81;
  padding: 0.5rem;
}
.declined-app {
  background-color: #fff;

  color: #d83c3c;
  padding: 0.5rem;
}


.btn {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: rgb(255, 45, 30);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;

}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(225, 65, 65);
}
.btnS {
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btnS:hover {
  background-color: RoyalBlue;
}




/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  margin-top: 6%;
}

/* Style the submit button */
button[type=submit] {
  // background-color: #4CAF50;
  // color: white;
  // padding: 12px 20px;
  // border: none;
  // border-radius: 4px;
  // cursor: pointer;
  // float: right;
  background-color: blue;
  border: none;
  color: white;
  padding: 1.2% 2%;
  text-decoration: none;
  // display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  margin-left: 50%;

  width: 10%;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 15%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 85%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, button[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}