<!-- <app-navbar></app-navbar> -->

<div id="curve">
  <div id="container">
    <div id="content-container">
      <h1>GaryWork</h1>
      <p>
        We offer a wide range of services from painting, plumbing, electrical,
        drywall repair, and installs. Our services remove all the stress and
        frustration that comes with home repair and maintenance. As your home
        improvement project managers, we are committed to providing quality
        work.
      </p>
      <button (click)="scroll('serv')">Discover More</button>
    </div>

    <div id="bg-container">
      <img id="ser" src="../../assets/bgf.svg" alt="ser" />
    </div>
  </div>
</div>

<app-service-section id="serv"></app-service-section>
<app-testimonials></app-testimonials>

<app-about></app-about>

<app-footer id="contact"></app-footer>
