@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.card-container {
    margin: 1em;
}

.view-card {
    padding: 2em 1.3em; 
}

.navbar {
    height: 70px !important;
}

mdb-navbar-brand > a {
    font-family: 'Dela Gothic One', cursive;
    font-size: 2em;
}