<!--Navbar-->
<mdb-navbar *ngIf="local.adminSignedIn" SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">GaryWork Admin</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active ">
          <a class="nav-link waves-light" routerLink='/admin/messages' mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon> Contact<span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="cog"></mdb-icon> Settings</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink='/admin/service-providers' mdbWavesEffect>Service Providers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink='/admin/users' mdbWavesEffect>Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink='/admin/requests' mdbWavesEffect>Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink='/admin/professions' mdbWavesEffect>Services</a>
        </li>
  
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
          </div>
        </li>
  
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <div class="card-container">
    <mdb-card class="view-card">
      <router-outlet></router-outlet>
    </mdb-card>
  </div>
  

<!-- <app-messages></app-messages> -->
<!-- <app-admin-login></app-admin-login> -->
  <!--/.Navbar-->
