.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    height: 55%;
    margin: 2%;
    float: left;
  }
  #btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  img {
    width: 100%;
    height: 17rem;
    margin-top: 1rem;
  }
  .form {
    margin-top: 2rem;
  }
  .profession {
    width: 25%;
  }
  .pro {
    width: 70%;
    margin-left: 2rem;
  }
  