<div class="testimonials">
  <div class="inner">
    <h1 class="exp-tt">Testimonials</h1>
  </div>
  <div class="cont">
    <div class="container">
      <div class="card">
        <div class="imgBx">
          <img
            src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.6435-9/128172388_3745259308859804_6646631439059835540_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=xGqHW2gd8XoAX8HJnvU&_nc_oc=AQm3inCtnKFdMbicsCMo7ERhXLThG_oFSEFneR9tREC_X24E9VR9sQ0Kg2E7Y3kzVLg&_nc_ht=scontent.ftun4-1.fna&oh=16c09a3c387459530baacd2e8c30ccb5&oe=608995D6"
            alt=""
            class="imgg"
          />
        </div>
        <div class="content">
          <h2>Halim Boussada</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
            aspernatur ex, odio corrupti repellendus vel quidem hic debitis amet
            minus quas nihil officia expedita quam cumque rem culpa blanditiis.
            Natus?
          </p>
        </div>
        <img
          src="https://static.thenounproject.com/png/63439-200.png"
          alt=""
          class="arr-down"
        />
      </div>
      <div class="card">
        <div class="imgBx">
          <img
            src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.6435-9/57362595_2479028768787361_5529707107256893440_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=174925&_nc_ohc=khj0mF_mC3oAX946kod&_nc_ht=scontent.ftun4-1.fna&oh=1685be80806e8d5145ad3fdd7d4f28c7&oe=608A4E50"
            alt=""
          />
        </div>
        <div class="content">
          <h2>Ikdem Ben Mbarek</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
            aspernatur ex, odio corrupti repellendus vel quidem hic debitis amet
            minus quas nihil officia expedita quam cumque rem culpa blanditiis.
            Natus?
          </p>
        </div>
        <img
          src="https://static.thenounproject.com/png/63439-200.png"
          alt=""
          class="arr-down"
        />
      </div>
      <div class="card">
        <div class="imgBx">
          <img
            src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.6435-9/125180504_1589395391267047_8055927776086583997_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=Wt_tS35LP8YAX9PfazV&_nc_ht=scontent.ftun4-1.fna&oh=05e3887f66a8653f018495dd1dc9e7f0&oe=60894FC8"
            alt=""
          />
        </div>
        <div class="content">
          <h2>Achref Bouaoun</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
            aspernatur ex, odio corrupti repellendus vel quidem hic debitis amet
            minus quas nihil officia expedita quam cumque rem culpa blanditiis.
            Natus?
          </p>
        </div>
        <img
          src="https://static.thenounproject.com/png/63439-200.png"
          alt=""
          class="arr-down"
        />
      </div>
    </div>
  </div>
  <!-- <div class="row">
      <div class="col">
        <div class="testimonial">
          <img src="p1.png" alt="" />
          <div class="name">Full name</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s,
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="p2.png" alt="" />
          <div class="name">Full name</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s,
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src="p3.png" alt="" />
          <div class="name">Full name</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s,
          </p>
        </div>
      </div>
    </div>
  </div> -->
</div>
