<!-- <app-user-nav *ngIf='role === "user"'></app-user-nav> -->
<!-- <app-admin-nav></app-admin-nav>
<app-messages></app-messages> -->
<!-- <app-admin-nav></app-admin-nav> -->
<!-- <app-messages></app-messages> -->

<!-- <app-testimonials></app-testimonials> -->
<!-- <app-sp-profile></app-sp-profile> -->
<app-navbar *ngIf="role != 'admin'"></app-navbar>

<router-outlet></router-outlet>
<!-- <app-location></app-location> -->
<!-- <app-requests></app-requests> -->
<!-- <app-modal-review></app-modal-review> -->
<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet> -->
<!-- <app-user-profile></app-user-profile> -->
<!-- <app-sp-profile></app-sp-profile> -->
<!-- <app-appointment></app-appointment> -->

<!-- <app-services-list></app-services-list> -->
<!-- <app-admin-login></app-admin-login> -->
<!-- <app-admin-login></app-admin-login> -->
<!-- <app-about></app-about> -->
<!-- <app-service-provider-card></app-service-provider-card> -->
<!-- <app-live-chat></app-live-chat> -->
 