// .cardDesign{
//   // margin-left: 35%;
//   margin-right: 10%;
//   padding-bottom: 15%;
//   // padding-left: 20%;
//   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  
// }
.info{
  margin-top: 1rem;
  margin-left: 2rem;
}

#name{
  margin-left:2rem;
  margin-top:2rem;
}
.fas{
  margin-right:1rem;
}
.far{
  margin-right:1rem; 
}

.card-img {
  width: 100%;
  height: 15em;
  object-fit: cover;
}



  .card {
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    // margin: 1%;
    margin-top:2%;
    display: flex;
    float:left;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-left: 5%;
  }
.btn-cont {
  width: 100%;
  display: inline-block;
  margin-left:6rem;}

.verify-btn {
  padding: 7px 7px 7px 12px !important;
  align-content: center ;
text-align: center;
display: inline-block;


  background-color:blue;
  color:white;
  height: 30px;
}
.decline-btn{
  padding: 7px 7px 5px 12px !important;
  align-content: center ;
  display: inline-block;
  height: auto;


}


