


<button
  mdbBtn
  type="button"
  class="m-3"
  (click)="deleteAll()"
  color="danger"
  mdbWavesEffect
>
  Delete All Messages
</button>

<div *ngFor="let message of messages" class="jumbotron m-5">
  <button
    (click)="deleteOne(message._id)"
    mdbBtn
    type="button"
    color="danger"
    outline="true"
    mdbWavesEffect
  >
    Delete
  </button>
  <h1 class="display-2">{{ message.name }}</h1>
  <h2>{{ moment(message.createdAt).format("ll") }}</h2>
  <hr class="my-4" />
  <span>{{ message.message }}</span>
  <span>{{ message.phone }}</span>
  <span>{{ message.email }}</span>
</div>

