.modal-rev-title {
  height: 30px;
  width: 90%;
  border-top: none;
  border-left: none;
  border-right: none;
  border: 0, 0, 0, 1px solid #333;
  outline: none;
}

.modal-txt-area {
  margin-top: 10%;
  border: 0, 0, 0, 1px solid #333;
  outline: none;
}
.sr-only {
  height: 50px;
  width: 50px;
}
.fa-plus {
  margin-left: 10px;
  font-size: 17px;
}
.add-review {
  width: 37%;
  height: 4rem;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid rgb(139, 139, 139);
  float: left;
  margin-top: -1px;
}
